{% extends 'shop/basic.html' %}

{% block title %} Shop | Checkout {% endblock %}

{% block body %}

<div class="container">
    <div class="col my-5">
        <h2>Step 1: Review Your Cart</h2>
        <div>
            <ul class="list-group" id="items">

            </ul>
        </div>
    </div>

    <div class="col my-5">
        <h2>Fill Your Address & Other Details</h2>
        <form method="post" action="/shop/checkout/"> {% csrf_token %}
            <input type="hidden" id="itemJson" name="itemJson">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="inputName" name="name"
                        placeholder="Enter Your Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="inputEmail"
                        placeholder="Enter Your Email Id" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputAddress" name="address1"
                    placeholder="Fill Your Address" required>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" name="address2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group">
                <label for="inputPhone">Phone<span class="text-danger">*</span></label>
                <input type="tel" class="form-control" id="inputPhone" name="phone"
                    placeholder="Enter Your Phone Number" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">State<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="state" id="inputState"
                        placeholder="State" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">City<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="city" id="inputCity" placeholder="City" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="zip_code" id="inputZip"
                        placeholder="Zip Code", required>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}

<script>

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }

    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    if ($.isEmptyObject(cart)) {
        //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    }


    var sum = 0;
    for (var item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];

        myStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${name}
                <span class="badge badge-primary badge-pill">${qty}</span>
            </li>`;
        $("#items").append(myStr);
    }


    $("#itemJson").val(JSON.stringify(cart));
    // @ts-ignore
    {% if thank %}
    alert("Thanks for ordering. Your order id is {{id}}. You can track your order using your order id.")
    localStorage.clear();
    document.location="/shop";
    // Code here will be linted with JSHint
    {% endif %}

</script>

{% endblock %}