{% extends 'shop/basic.html' %}

{% block title %} Your Cart {% endblock %}

{% block css %}
<style>
    body {
        /* background-image: radial-gradient(circle at 50% 50%, #13a270, #2dbd53 70%); */
        background-color: black;
    }

    .col-md-3 {
        display: inline-block;
    }

    .carousel-indicators .active {
        background-color: white;
    }

    .carousel-indicators .non-active {
        background-color: black;
    }

    .col-md-3 img {
        max-width: 200px;
        height: 200px;
        /* object-fit: center; */
    }

    body .carousel-indicator li {
        background-color: yellow;
    }

    body .carousel-indicators {
        bottom: 0;
        margin-bottom: -30px;
    }

    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .carousel {
        margin-top: 100px;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        color: white;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding-top: -220px;
        margin-top: -180px;
    }


    .carousel-item .active {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .card-main {
        margin-right: -5px;
        margin-bottom: 10px;
    }

    .card-body {
        padding: 15px;
    }
</style>
{% endblock %} <!-- CSS endblock  -->

{% block body %}
{% load static %}




<div class="container-fluid ">

    <!-- SlideShow Indecators -->
    {% for product, range, nSlides in allProds %}
    <h2 class="my-4 container text-light">Flash Sale on {{product.0.category}}</h2>
    <div id="demo{{forloop.counter}}" class="carousel slide carousel-fade">
        <ul class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

            {% for i in range %}
            <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ul>

        <!--Slideshow starts here -->
        <div class="container carousel-inner mb-5 mt-0">

            <div class="carousel-item active">


                <!-- For Loop for calling items from database -->
                {% for i in product %}
                <div class="col-xs-3 col-sm-3 col-md-3 card-main ">
                    <div class="card">
                        <div class="container">
                            <img src='/media/{{i.image}}' class="card-img-top" alt="Image not available this time">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                            <p class="card-text">
                                {{ i.description|slice:":35" }} {% if i.description|length > 35%}...{%endif%}</p>
                            <h6 class="card-title">Price : <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                            <span id="divpr{{i.id}}" class="divpr">
                                <button type="button" id="pr{{i.id}}" class="btn btn-success cart mx-0">Add to
                                    Cart</button>
                            </span>
                            <a href="/shop/product/{{i.id}}">
                                <button id="qv{{i.id}}" type="button" class="btn btn-success cart-view my-2">
                                    Quick View
                                </button></a>
                        </div>
                    </div>
                </div>

                <!-- Jumping to next slides if 4 items are added to a slide -->
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}

            </div>
            <div class="carousel-item">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    {% endfor %}
</div>


{% endblock %}


{% block js %}
<script>
    // Find out the cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart-pr').innerHTML = Object.keys(cart).length
        updateCart(cart);
    }

    // If the add to cart button is clicked, add/increment the item
    $('.divpr').on("click", "button.cart", function () {
        var pr_id = this.id.toString()
        if (cart[pr_id] != undefined) {
            qty = cart[pr_id][0] + 1;
        }
        else {
            qty = 1;
            pr_name = document.getElementById("name" + pr_id).innerHTML;
            price = document.getElementById("price" + pr_id).innerHTML;
            cart[pr_id] = [qty, pr_name, parseInt(price)];
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        updateCart(cart);
        updatePopcart(cart);
    });


    function updatePopcart(cart) {

        var popStr = '';
        popStr = popStr + "<h5>Your Cart Items are here </h5> <div class='mx-2 my-2'>";

        var i = 1;
        for (var item in cart) {
            popStr = popStr + "<b>" + i + "</b>. ";
            popStr = popStr + document.getElementById("name" + item).innerHTML.slice(0, 20) + "... " + "<span class='float-right' >" + "Qty: " + cart[item][0] + "</span>" + "<br>";
            i = i + 1;
        }

        popStr = popStr + "</div> <a href='/shop/checkout'><button type='button' class='btn btn-success' id='checkout'>Check out </button> </a> <button type='button' class='btn btn-success' id='clearCart' onClick='clearCart()'>Clear Cart </button>";
        document.getElementById("popcart").setAttribute('data-content', popStr);
        $('#popcart').popover('show');

    }

    function updateCart(cart) {
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = "<button type='button' id='minus" + item + "' class='btn btn-success minus'>-</button> <span id='val" + item + "'>" + cart[item][0] + "</span> <button type='button' id='plus" + item + "' class='btn btn-success plus'> + </button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        updatePopcart(cart);
    }


    function clearCart(cart) {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = "<button type='button' id='" + item + "' class='btn btn-success cart mx-0'>Add to Cart</button>"
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);
        updatePopcart(cart);
    }

    // If plus or minus button is clicked, change the cart as well as the display value
    $('.divpr').on("click", "button.minus", function () {
        a = this.id.slice(7,);
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        // Getting max value between 0 & -ve value so that count cannot go to -ve.
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
        updatePopcart(cart);
    });

    $('.divpr').on("click", "button.plus", function () {
        a = this.id.slice(6,);
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
        updatePopcart(cart);
    });

</script>

{% endblock %}