<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .type-box {
            display: inline-block;
            font-family: 'courier bold', Courier, monospace;
            font-size: 18px;

        }

        .typed {
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing;
            animation-duration: 2s;
            animation-timing-function: steps(30, end);
            animation-fill-mode: forwards;
        }

        @keyframes typing {
            from {
                width: 0
            }

            to {
                width: 100%
            }
        }
    </style>
</head>

<body>
    <!-- <body style="background-color: black;"> -->

    <!-- NAVBAR  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DynamicWork</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex my-2'livesync',
                'django.contrib.staticfiles',">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="mb-3 my-4 container">

        <form action="/about/" method="post"> {% csrf_token %}
            <!-- Text Area -->
            <div class="type-box">

                <label for="exampleFormControlTextarea1" class="form-label typed">Enter the text to see the
                    magic:</label>
            </div>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="6"></textarea>

            <!-- Remove punctuation checkbox -->
            <div class="form-check form-switch my-1">
                <input class="form-check-input" type="checkbox" name="removepunc" id="flexSwitchCheckDefault1">
                <label class="form-check-label" for="flexSwitchCheckDefault1">Remove Punctuation</label>
            </div>

            <!-- UPPERCASE checkbox -->
            <div class="form-check form-switch my-1">
                <input class="form-check-input" type="checkbox" name="uppercase" id="flexSwitchCheckDefault2">
                <label class="form-check-label" for="flexSwitchCheckDefault2">UPPERCASE</label>
            </div>

            <!-- lowercase checkbox -->
            <div class="form-check form-switch my-1">
                <input class="form-check-input" type="checkbox" name="lowercase" id="flexSwitchCheckDefault3">
                <label class="form-check-label" for="flexSwitchCheckDefault3">lowercase</label>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary my-3">Analyze Text</button>

        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>